---
import { Icon } from "astro-icon/components";
---

<footer class="bg-default">
  <h2 id="footer-heading" class="sr-only">Footer</h2>
  <div class="mx-auto max-w-7xl px-6 pb-8 pt-16 sm:pt-24 lg:px-8 lg:pt-32">
    <div class="space-global flex flex-col justify-between lg:flex-row">
      <div class="space-y-8">
        <a class="flex items-center gap-3 hover:!text-default" href="/">
          <h1 class="sr-only">Invertefast</h1>
          <Icon name="logomark" class="h-10 w-36" />
        </a>
        <p class="leading-6 text-gray-300 text-sm">
          INMOBILIARIA HUERTAS GRUPO INV. S.R.L. <br /> 20601000939 <br /> Calle
          Luis Espejo 1097 Int. 802 Urb. Santa Catalina, La Victoria 15034
        </p>
        <div class="flex flex-col items-start gap-4 text-gray-300 text-sm">
          <a
            href="mailto:contacto@invertifast.pe"
            class="border-b hover:text-primary"
            target="_blank"
            rel="noopener noreferrer"
          >
            contacto@invertifast.pe
          </a>
          <a
            href="https://api.whatsapp.com/send?phone=51945743060&text=Hola%20Invertifast"
            class="border-b hover:text-primary"
            target="_blank"
            rel="noopener noreferrer"
          >
            +51 945 743 060
          </a>
        </div>
      </div>
      <div class="space-y-8">
        <p class="max-w-xl leading-6 text-gray-300 text-sm">
          InvertiFast es una alternativa de inversión aprobada por Inversiones
          IO, una plataforma de financiamiento que opera bajo la estricta
          supervisión de la Sociedad de Mercados de Valores (SMV). Esta
          regulación garantiza que todas nuestras operaciones cumplen con los
          más altos estándares de transparencia y seguridad. Además, cuenta con
          el sólido respaldo de Huertas Inmobiliaria, una empresa con amplia
          trayectoria y reconocimiento en el sector inmobiliario. Este apoyo no
          solo refuerza nuestra estabilidad financiera, sino que también nos
          permite ofrecer oportunidades de inversión con un alto potencial de
          rentabilidad y crecimiento.
        </p>
      </div>
    </div>

    <div class="mt-16 border-t border-white/10 pt-8 sm:mt-20 lg:mt-24">
      <p class="leading-5 text-gray-400 text-xs">
        &copy; 2024 Invertifast. Todos los derechos reservados.
        <strong> | Hecho por Agencia Belmont </strong>
      </p>
    </div>
  </div>
</footer>
